In [1]:
import pandas as pd
from chatbot import simple_chatbot, llm_response, print_wrapped

/home/twumasimb/miniconda3/envs/unsloth/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

ðŸ¦¥ Unsloth: Will patch your computer to enable 2x faster free finetuning.

In [2]:
df = pd.read_csv("../financial_data.csv")

In [3]:
# Get the data insights 
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100
df['Profit Margin'] = df['Net Income'] / df['Total Revenue']
df['ROA'] = df['Net Income'] / df['Total Assets']
df['Debt to Equity'] = df['Total Liabilities'] / (df['Total Assets'] - df['Total Liabilities'])
df['Asset Turnover'] = df['Total Revenue'] / df['Total Assets']
df

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cashflow,Revenue Growth (%),Net Income Growth (%),Profit Margin,ROA,Debt to Equity,Asset Turnover
0,2021,Apple,365817,94680,351002,287912,104038,NaN,NaN,0.258818,0.269742,4.563512,1.042208
1,2021,Microsoft,168088,61271,333779,191791,76740,NaN,NaN,0.364517,0.183568,1.350755,0.503591
2,2021,Tesla,53823,5644,62113,30548,11497,NaN,NaN,0.104862,0.090867,0.967781,0.866534
3,2022,Apple,394328,99803,352775,302083,122151,7.793788,5.410858,0.253096,0.282908,5.959185,1.117789
4,2022,Microsoft,198270,72738,364840,198298,89035,17.956071,18.715216,0.366863,0.199370,1.190679,0.543444
5,2022,Tesla,81462,12587,82338,36440,14724,51.351653,123.015592,0.154514,0.152870,0.793934,0.989361
6,2023,Apple,383285,96995,353583,290437,110543,-2.800461,-2.813543,0.253062,0.274320,4.599452,1.084003
7,2023,Microsoft,211915,72361,411976,205753,87582,6.882030,-0.518299,0.341462,0.175644,0.997721,0.514387
8,2023,Tesla,96773,14997,106618,43009,13256,18.795267,19.146739,0.154971,0.140661,0.676146,0.907661

In [4]:
query = "What is the asset turnover, Apple, microsoft, Tesla, 2022?"
answer = simple_chatbot(user_query=query, df=df)
print(answer, end='')

Asset Turnover:
Apple (2022): 1.12
Microsoft (2022): 0.54
Tesla (2022): 0.99

In [5]:
data_insight = llm_response(query=query, response=answer)

`low_cpu_mem_usage` was None, now set to True since model is quantized.

In [6]:
print_wrapped(data_insight, 80)

.  **Here's what the numbers mean:**  * **Asset Turnover:** This is a measure of
how efficiently a company uses its assets to generate sales.  * **Apple (2022):
1.12:**  Apple generated $1.12 in sales for every $1 in assets they owned. *
**Microsoft (2022): 0.54:** Microsoft generated $0.54 in sales for every $1 in
assets they owned. * **Tesla (2022): 0.99:** Tesla generated $0.99 in sales for
every $1 in assets they owned.  **In simpler terms:**  * **Apple:** They're good
at turning their assets into sales. For every dollar they have, they make $1.12
in sales. * **Microsoft:** They're not as good at turning their assets into
sales. For every dollar they have, they make $0.54 in sales. * **Tesla:**
They're also good at turning their assets into sales. For every dollar they
have, they make $0.99 in sales.    Let me know if you'd like me to explain any
of the terms in more detail!